.controls {
	height: 61px;
	overflow: hidden;
	border-top: 1px solid rgb(230,230,230);
}

.controls.white {
	background-color: white;
}

.control {
	display: inline-block;
	margin-right: 12px;
	margin-top: 19px;
	margin-left: 2px;
	cursor: pointer;
}

.control:hover {

}


.skip-button {
	display: inline-block;
	width: 24px;
	margin-bottom: 8px;
	cursor: pointer;
}

.skip-button:hover {
	
}

.fullscreen-controls-mid {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
}

.fullscreen-controls-lower {
	position: absolute;
	height: 100px;
	width:100%;
	bottom: 0px;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4));
	z-index: 2;
	opacity: 0;
	transition: opacity .2s;
	padding-top: 10px;
}

.content:hover .fullscreen-controls-lower {
	opacity: 1;
}

.screen:hover .time {
	height: 3px;
	bottom: 34px;
	width: 84%;
	left: 8%;
}

.track-container {
	margin-bottom: 30px;
}

.track {
	display: inline-flex;
	flex-direction: row;
	max-width: 700px;
	min-width: 500px;
	text-align: left;
}

.track.wide {
	width: 660px;
}

.track-player {
	display: inline-block;
	flex-grow: 1;
}

.track-title {
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 22px;
	margin-left: 10px;
	letter-spacing: 2px;
}

.track-meta-lower {
	font-family: "Montserrat";
	font-size: 11px;
	font-weight: 500;
	margin-left: 13px;
	letter-spacing: 1px;
}

.track-meta-lower>.inline>.circle {
	background-color: black;
}

.track-reason {
	margin-left: 10px;
	font-size: 10px;
	margin-bottom: 31px;
	vertical-align: middle;
}

.artist-link {
	display: inline-block;
}

.artist-name {
	display: inline-block;
	font-weight: 800;
}

.artist-picture {
	object-fit: cover;
	width: 20px;
	height: 20px;
	border-radius: 10px;	
	vertical-align: middle;
	margin-right: 4px;
}

.bar-buttons {
	position: relative;
	display: flex;
	vertical-align: bottom;
}

.control.play-button {
	filter: invert(100%);
}

.control.play-button.screen-button {
	margin-left: 10px;
}

.track-button {
	filter: invert(100%);
	width: 40px;
	margin-bottom: -3px
}

.control.screen-button {
	width: 24px;
	margin-right: 28px;
	margin-left: -4px;
}

.left:hover .controls-left {
	opacity: 1;
}

.left:hover .controls-right {
	opacity: 1;
}

.screen.controls-left {
	text-align: left;
	flex-grow: 0;
	z-index: 5;
	transition: opacity .2s;
}

.screen.controls-left {
	opacity: 0
}

.controls-right {
	position: relative;
	text-align: right;
	flex-grow: 1;

	transition: opacity .2s;
}

.screen.controls-right {
	opacity: 0
}

.little-controls {
	position: absolute;
	bottom: 6px;
	right: 14px;
}

.little-control {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-left: 8px;
}


.little-control.like:hover {
	cursor: pointer;
}

.little-control.bubble:hover {
	cursor: pointer;
}

.verse-editor {
	display: inline-block;
}

.lyrics-editor-container {
	width: 100%;
}

.add-lyrics-button {
	position: absolute;
	bottom: 0;
	left: 0;
}


