.control {
	display: inline-block;
	margin-right: 12px;
	margin-top: 19px;
	margin-left: 2px;
	cursor: pointer;
}

.control:hover {

}


.skip-button {
	display: inline-block;
	width: 24px;
	margin-bottom: 8px;
	cursor: pointer;
}

.skip-button:hover {
	
}

.fullscreen-controls-mid {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
}

.fullscreen-controls-lower {
	position: absolute;
	height: 110px;
	width:100%;
	bottom: 0px;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4));
	z-index: 2;
	opacity: 0;
	transition: opacity .2s;

}

.content:hover .fullscreen-controls-lower {
	opacity: 1;
}

.screen:hover .time {
	height: 3px;
	bottom: 34px;
	width: 84%;
	left: 8%;
}

.track {
	display: flex;
	flex-direction: row;
}

.track-player {
	display: inline-block;
	flex-grow: 1;
}

.track-title {
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 28px;
	margin-left: 10px;
	letter-spacing: 2px;
}

.track-meta-lower {
	font-family: "Montserrat";
	font-size: 11px;
	font-weight: 500;
	margin-left: 13px;
	letter-spacing: 1px;
}

.track-meta-lower>.circle {
	background-color: black;
}

.track-reason {
	margin-left: 10px;
	font-size: 10px;
	margin-bottom: 31px;
	vertical-align: middle;
}

.artist-link {
	display: inline-block;
}

.artist-name {
	font-weight: 800;
}

.artist-picture {
	object-fit: cover;
	width: 20px;
	height: 20px;
	border-radius: 10px;	
	vertical-align: middle;
	margin-right: 4px;
}

.control.play-button {
	filter: invert(100%);
}

.control.track-button {
	width: 40px;
}

.control.screen-button {
	width: 24px;
	margin-right: 28px;
	margin-left: -4px;
}