.logo-container {
	position: absolute;
	width: 100%;
	background-color: white;
}

.logo-container.white {
	background-color: black;
}

.logo-container.black {
	background-color: white;
}

.logo {
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 4px;
	vertical-align: bottom;
	margin-top: 4px;
	cursor: pointer;
	transition: font-size .24s, letter-spacing .24s;
	text-align: center;
	z-index: 1;
}

.logo.big {
	font-size: 40px; 
	letter-spacing: 16px;
}

.e {
	z-index: 10;
	width: 24px;
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.e.big {
	height: 30px;
	width: 36px;
	margin-bottom: 3px;
}

.align-base {
	display: inline-block;
}

.e-bar.white {
	background-color: white;
}

.e-bar.black {
	background-color: black;
}

.e-bar {
	width: 2px;
	transition: height 1.8s;
	animation: wavey ease-in-out 1.8s;
	animation-iteration-count: infinite;
	display: inline-block;
	margin-right: 3px;
	font-smooth: never;
	z-index: 10;
}

.e-bar:last-child {
	margin-right: 0;
}

.e-bar.big {
	width: 3px;
}

.e-bar.one {
	height: 100%;
	animation-delay: 0s;
}

.e-bar.one.big{
}

.e-bar.two {
	height: 100%;
	animation-delay: .8s;
}

.e-bar.three {
	height: 100%;
	animation-delay: .4s;
}

.e-bar.three.big {
}

.e-bar.four {
	height: 100%;
	animation-delay: .2s;
}

.e-bar.five {
	height: 100%;
	animation-delay: .6s;
}

@keyframes wavey {
	0% {
		height: 100%;
	}
	50% {
		height: 44%;
	}
	100% {
		height: 100%;
	}
}

