.content-container {
	position: relative;
	overflow-x: hidden;
	height: 44vw;
	width: 100%;
}

.carousel {
	width: 200%;
	left: -120px;
	top: 0;
	position: absolute;
}

.content {
	display: inline-block;
	position: relative;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	padding: 0px;
	vertical-align: middle;
	flex-grow: 0;
}

.content.full {
	width: 80%;
}

.content.medium {
	width: 180px;
}

.content>img {
	position: relative;
	width: 100%;
	display: inline-block;
	z-index: 1;
	padding: 0;
}

.new-pic-box {
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
	z-index: 1;
	background-color: rgb(190,190,190);
}

.title {
	color: white;
	font-size: 12px;
}

.circle {
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	margin-bottom: 2px;
}

.title.circle {
	background-color: white;
}

.title-song {
	margin-top: 20px;
	font-weight: bold;
	font-size: 14px;
}

.title-artist {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 8px;
}

.title-album {
	margin-left: 5px;
	display: inline-block;
	margin-bottom: 8px;
}

.screen.off {
	height: 0;
	filter: grayscale(100%);
	opacity: 0;
}

.screen.fullscreen {
	width: 84%;
}

.screen {
	overflow-y: hidden;
	height: 500px;
	transition: height .24s, filter .24s, opacity .24s;
	margin-bottom: 0px;
	filter: grayscale(0%);
	opacity: 1

}
