.content-container {
	position: relative;
	overflow-x: hidden;
	height: 44vw;
	width: 100%;
}

.carousel {
	width: 200%;
	left: -120px;
	top: 0;
	position: absolute;
}

.content {
	display: inline-block;
	position: relative;
	display: inline-block;
	margin-left: 40px;
	margin-top: 40px;
	text-align: center;
	padding: 0px;
	vertical-align: middle;
}

.content.full {
	width: 380px;
}
.content.medium {
	width: 120px;
}

.content>img {
	position: relative;
	width: 100%;
	display: inline-block;
	z-index: 1;
	padding: 0;
}

.title {
	color: white;
	font-size: 12px;
}

.title.circle {
	display: inline-block;
	background-color: white;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	margin-bottom: 2px;
}

.title-song {
	margin-top: 20px;
	font-weight: bold;
	font-size: 14px;
}
.title-artist {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 8px;
}
.title-album {
	margin-left: 5px;
	display: inline-block;
	margin-bottom: 8px;
}