.time {
	display: inline-block;
	background: white;
	width: 80%;
	height: 3px;
	margin-top: 24px;
	margin-bottom: 20px;
	text-align: cenf;
}

.time-scrubber {
	background: rgb(140, 140, 255);
	width: 50%;
	height: 100%;
}

.time-container {
	width: 100%;
	text-align: center;
}